In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd 
import numpy as np

In [3]:
import os 

project_dir = os.path.dirname(os.getcwd())
data_dir = os.path.join(project_dir, "data") 
raw_data_dir = os.path.join(data_dir, "raw") 

df = pd.read_csv(os.path.join(raw_data_dir, "CVD_cleaned.csv"))

In [4]:
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [5]:
print(df.shape)

(308854, 19)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB
None

In [7]:
df.describe()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
count,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000,308854.000000
mean,170.615249,83.588655,28.626211,5.096366,29.835200,15.110441,6.296616
std,10.658026,21.343210,6.522323,8.199763,24.875735,14.926238,8.582954
min,91.000000,24.950000,12.020000,0.000000,0.000000,0.000000,0.000000
25%,163.000000,68.040000,24.210000,0.000000,12.000000,4.000000,2.000000
50%,170.000000,81.650000,27.440000,1.000000,30.000000,12.000000,4.000000
75%,178.000000,95.250000,31.850000,6.000000,30.000000,20.000000,8.000000
max,241.000000,293.020000,99.330000,30.000000,120.000000,128.000000,128.000000

In [8]:
df_cleaned = df.copy()

In [9]:
df_cleaned['Heart_Disease'].describe()

count     308854
unique         2
top           No
freq      283883
Name: Heart_Disease, dtype: object

In [10]:
df_cleaned['Heart_Disease'].value_counts()

Heart_Disease
No     283883
Yes     24971
Name: count, dtype: int64

In [33]:
type(df_cleaned)

pandas.core.frame.DataFrame

In [11]:
target = (df_cleaned['Heart_Disease'] == 'Yes').astype(int)
target.describe()

count    308854.000000
mean          0.080850
std           0.272606
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Heart_Disease, dtype: float64

In [12]:
print(len(target))

308854

## [3.3] Import the function `split_sets_random` from your custom package and split the data into several sets as numpy arrays

In [22]:
from draft.data.sets import split_sets_random 

X = df_cleaned.drop('Heart_Disease', axis=1) 
X_train, X_val, X_test, y_train, y_val, y_test = split_sets_random(X, target, test_ratio=0.2, as_type='numpy', ret_dict=False)

In [30]:
vals, counts = np.unique(y_train, return_counts=True) 
value_counts = {int(v): int(c) for v, c in zip(vals, counts)} 
print(value_counts)

{0: 170395, 1: 14917}

In [37]:
from draft.data.sets import verify_datasets 

verify_datasets(globals=globals())

    X_train
Type: <class 'numpy.ndarray'>
Dimensions: (185312, 18)

    X_val
Type: <class 'numpy.ndarray'>
Dimensions: (61771, 18)

    X_test
Type: <class 'numpy.ndarray'>
Dimensions: (61771, 18)

    y_train
Type: <class 'numpy.ndarray'>
Dimensions: (185312,)
Value counts: {0: 170395, 1: 14917}

    y_val
Type: <class 'numpy.ndarray'>
Dimensions: (61771,)
Value counts: {0: 56741, 1: 5030}

    y_test
Type: <class 'numpy.ndarray'>
Dimensions: (61771,)
Value counts: {0: 56747, 1: 5024}

In [32]:
X_train.shape

(185312, 18)

In [39]:
from draft.data.sets import save_sets 

datasets_dir = os.path.join(data_dir, "processed") 
save_sets(
    use_globals=globals(), 
    featurenames=X.columns.tolist(), 
    save_dir=datasets_dir
)
print(os.listdir(datasets_dir))

['feature_names.txt', 'X_test.npy', 'y_train.npy', 'y_val.npy', 'y_test.npy', 'X_train.npy', '.gitkeep', 'feature_names.npy.txt', 'X_val.npy']

In [40]:
from sklearn.dummy import DummyClassifier

In [41]:
base_model = DummyClassifier(strategy='most_frequent')

In [43]:
base_model.fit(X_train, y_train)
y_base = base_model.predict(X_train)

In [47]:
from draft.model.eval import print_classifier_scores 

print_classifier_scores(y_train, y_base, "Dummy Model")

        Dummy Model Results
            Accuracy: 0.9195033241236401
            F1 Score: 0.0